<footer class="navbar navbar-expand navbar-light bg-light bg-gradient border-top">
  <div class="container-fluid">
    <div class="row ms-auto me-auto">
      <div class="col">
        <p>©2025 All rights reserved. Site developed by <a target="_blank" href="https://tiktaalik.dev">Tiktaalik Dev</a></p>
      </div>
    </div>
    <div class="row">
      <div class="navbar-nav mb-2 mb-lg-0 mt-5">
        <p class="mt-5">
          <small><a class="nav-link" href="https://techfolios.github.io">Made with Techfolios</a></small>
        </p>
      </div>
    </div>
  </div>
</footer>
